.mainBGcolor {
    height: 100vh;
    width: 100vw;
    /* -webkit-filter: blur(8px);
    filter: blur(3px); */
    /* background-blend-mode: luminosity; */
 
}
.bg-image {
    /* The image used */
    /* background-image: url("../assets/ticket.png"); */
  
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.1)
  }
  .bg-text {
    /* background-color: rgb(0,0,0); Fallback color */
    /* background-color: rgba(0,0,0, 0.4); */
     /* Black w/opacity/see-through */
    /* color: white; */
    width: 100%;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 2; */
    text-align: center;
  }
  * {
    box-sizing: border-box;
  }
  body, html {
    height: 100%;
  }